.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db

bin/
obj/

secrets.json

Migrations/

.idea/

*.log

*.mdf
*.ldf

*.stackdump

publish/
*.publishsettings

Generated_Code/

.vscode/

*.DotSettings.user

packages/

**/*.vsidx

~$*

*.bak

!*.sql

appsettings.Development.json
appsettings.Local.json
